@import "tailwindcss";

@font-face {
  font-family: 'nunitoR';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'nunitoM';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'nunitoB';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'nunitoSB';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'nunitoEB';
  src: url('./assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
}


@theme{
  --font-nunitoReguler: nunitoR;
  --font-nunitoMedium:nunitoM;
  --font-nunitoBold:nunitoB;
  --font-nunitoExtraBold:nunitoEB;
  --font-nunitoSemiBold:nunitoSB;
}

body {
  font-family: "Nunito", sans-serif;
}

